/** @format */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  /* background-color: #fffbf9 !important; */
  background-color: rgb(252, 252, 252) !important;

  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

/* NAVBAR */

.searchbar {
  width: 60%;
  height: auto;
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: center; */
}

.searchbar input {
  margin: 30px 0;
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-bottom: #ffa95e 1px solid;
  background-color: rgb(252, 252, 252) !important;
  width: 100%;
}

.searchbar input:focus {
  outline: none;
}

.searchResult {
  font-size: 1rem;
  font-weight: 400;
  color: #8f8f8f;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none !important;
  padding-bottom: 8px;
}

.searchResult:hover {
  font-size: 1rem;
  font-weight: 500;
  color: #ffa95e;
  text-decoration: none !important;
}
.searchResLink {
  font-size: 1rem;
  font-weight: 400;
  color: #292929;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none !important;
  padding-bottom: 8px;
}

.navbar {
  /* background-color: #fffbf9 !important; */
  background-color: rgb(252, 252, 252) !important;
}

.navbar-brand {
  font-family: 'Sacramento', cursive;
  font-weight: 800;
  font-size: 2em !important;
  color: #ffa95e !important;
}
.navbar-brand2 {
  font-family: 'Sacramento', cursive;
  font-weight: 800;
  font-size: 2em !important;
  color: #ffffff !important;
}

.navbar-brand:hover {
  color: #6f6f6f;
}

.navbar .nav-link {
  font-weight: 200;
  font-size: 1em;
  color: #6f6f6f;
}

.navbar .nav-link:hover {
  font-weight: 600;
  color: #ffa95e;
}

.navbar-toggler {
  /* width: 47px;
  height: 34px; */
  border: none !important;
  color: #ffa95e !important;
  /* border-color: #ffa95e !important; */
}

.menu_active {
  font-weight: bold;
  border-bottom: 1px solid #ffa95e;
}

/* LANDING PAGE */
.highlightAbout {
  font-family: 'Sacramento', cursive !important;
  font-weight: 400 !important;
  font-size: 5em !important;
  color: #ffa95e !important;
}

.buttonS {
  border: 2px solid #ffa95e !important;
  border-radius: 25px !important;
  color: #ffa95e !important;
  font-weight: 700 !important;
  background-color: white !important;
  transition: 0.3s !important;
  text-decoration: none !important;
}

.buttonS:hover {
  border: 2px solid #ffa95e !important;
  border-radius: 25px !important;
  color: white !important;
  font-weight: 700 !important;
  background-color: #ffa95e !important;
}

#header1 {
  height: 80vh;
  width: 100%;
  /* border: 2px solid red; */
  /* margin-top: 70px; */
}

.hell {
  border: 2px solid blue;
}

.loading {
  margin-left: 50%;
  margin-top: 150px;
}

.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* BOOK */

.bookCover {
  height: auto;
  max-width: 100%;
}

.bookProperties {
  width: 180px;
  height: 288px;
  border-radius: 5px;
  border: 0.5px solid #cecece;
  transition: all 0.3s;
}

.bookProperties:hover {
  transform: translateY(-5px);
}

.largeBookProperties {
  width: 300px;
  height: 480px;
  border-radius: 5px;
  border: 0.5px solid #cecece;
}

.bookName {
  font-size: 0.9rem;
  font-weight: 400;
  color: #292929;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none !important;

  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.authorName {
  font-size: 0.7rem;
  font-weight: 400;
  color: #6f6f6f;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none !important;

  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.priceTag {
  font-size: 0.8rem;
  font-weight: 400;
  color: #ff8b26;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none !important;
}

.largeBookName {
  font-size: 1.5rem;
  font-weight: 800;
  color: #292929;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;

  width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.largeAuthorName {
  font-size: 1.2rem;
  font-weight: 400;
  color: #6f6f6f;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;

  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookDescription {
  font-size: 1rem;
  font-weight: 300;
  color: #939393;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}

.explainer {
  font-size: 0.7rem;
  font-weight: 800;
  color: #ffa95e;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.buyButton {
  border-radius: 10px !important;
  background-color: #ffa95e !important;
  font-size: 1.2rem !important;
  font-weight: 800 !important;
  color: #fff !important;
  font-family: 'Roboto', sans-serif !important;
  text-transform: capitalize !important;
}
.buyButton:hover {
  background-color: #ff8b26 !important;
  color: #fff !important;
  transition: 0.5s;
}

.cartButton {
  border-radius: 10px !important;
  background-color: #b4b4b4 !important;
  font-size: 1.2rem !important;
  font-weight: 800 !important;
  color: #fff !important;
  font-family: 'Roboto', sans-serif !important;
  text-transform: capitalize !important;
}
.cartButton:hover {
  background-color: #949494 !important;
  color: #fff !important;
  transition: 0.5s;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffa95e;
  text-align: center;
  height: 60px;
  /* position: fixed; */
  /* bottom: 0; */
}

.footerLink {
  text-decoration: none;
}

.secName {
  font-size: 1.5rem;
  font-weight: 100;
  color: #6f6f6f;
  font-family: 'Roboto', sans-serif;
  transition: 0.1s;
}

.NavClass {
  text-decoration: none;
}

.secName:hover {
  color: #ffa95e !important;
}

.cont11 {
  align-self: center !important;
}

.FormBox {
  width: 800px;
  height: 400px;
  background-color: #ffa95e;
}

/* MEDIA RESIZING */

@media (min-width: 300px) {
  .bookProperties {
    width: 120px;
    height: 192px;
  }
  .secName {
    font-size: 0.8rem;
  }

  .bookName {
    font-size: 0.9rem;
    width: 100px;
  }
  .authorName {
    font-size: 0.6rem;
    width: 100px;
  }
}

@media (min-width: 345px) {
  .bookProperties {
    width: 130px;
    height: 208px;
  }
  .secName {
    font-size: 0.8rem;
  }

  .bookName {
    font-size: 0.9rem;
    width: 150px;
  }
  .authorName {
    font-size: 0.7rem;
    width: 150px;
  }
}

@media (min-width: 400px) {
  .bookProperties {
    width: 160px;
    height: 256px;
  }
  .secName {
    font-size: 0.8rem;
  }

  .bookName {
    font-size: 1rem;
    width: 160px;
  }
  .authorName {
    font-size: 0.7rem;
    width: 160px;
  }
}

@media (min-width: 544px) {
  .bookProperties {
    width: 200px;
    height: 320px;
  }
  .secName {
    font-size: 1.2rem;
  }

  .bookName {
    font-size: 0.7rem;
    width: 160px;
  }
  .authorName {
    font-size: 0.6rem;
    width: 160px;
  }
}

@media (min-width: 668px) {
  .bookProperties {
    width: 210px;
    height: 336px;
  }
  .secName {
    font-size: 1.3rem;
  }

  .bookName {
    font-size: 0.8rem;
    width: 170px;
  }
  .authorName {
    font-size: 0.6rem;
    width: 170px;
  }
}

@media (min-width: 762px) {
  .bookProperties {
    width: 180px;
    height: 288px;
  }
  .secName {
    font-size: 1.3rem;
  }

  .bookName {
    font-size: 0.9rem;
    width: 180px;
  }
  .authorName {
    font-size: 0.7rem;
    width: 180px;
  }
  .largeBookProperties {
    width: 230px;
    height: 368px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .bookProperties {
    width: 230px;
    /* width: 160px; */
    height: 368px;
    /* height: 256px; */
  }
  .secName {
    font-size: 1.3rem;
  }

  .bookName {
    font-size: 0.9rem;
    width: 150px;
  }
  .authorName {
    font-size: 0.7rem;
    width: 150px;
  }
  .largeAuthorName {
    font-size: 1.2rem;
  }
  .largeBookName {
    font-size: 1.8rem;
  }
  .largeBookProperties {
    width: 300px;
    height: 480px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bookProperties {
    width: 220px;
    height: 352px;
  }
  .secName {
    font-size: 1.5rem;
  }

  .bookName {
    font-size: 0.9rem;
  }
  .authorName {
    font-size: 0.7rem;
  }
}
@media (min-width: 1400px) {
  .bookProperties {
    width: 180px;
    height: 288px;
  }
  .secName {
    font-size: 1.5rem;
  }

  .bookName {
    font-size: 0.9rem;
  }
  .authorName {
    font-size: 0.7rem;
  }
}
